.aboutMe{
    width: 100%;
    background-color: var(--background);
    padding: 8rem var(--section-lateral-padding);
}

.aboutMe .cards__container{
    display: flex;
    gap: 1.5rem;
    margin-top: 4rem;
    align-items: stretch;
}

.aboutMe .cards__container > *{
    flex: 1 1 calc(33% - 1.5rem);
}

/*///////////////////////////////////////////////////// RESPONSIVE ////////////////////////////////////////*/

@media (max-width: 1024px) {

    .aboutMe{
        padding: 6rem var(--section-lateral-padding);
    }
    
    .aboutMe .cards__container{
        gap: 1.5rem;
        flex-wrap: wrap;
    }
    
    .aboutMe .cards__container > *{
        width: 100%;
        flex: 1 1 100%;
    }
    

}