.hero{
    padding: 6rem 0 4rem 0;
    position: relative;
    min-height: 100vh;
}

.background_hero__opacity{
    width: 100%;
    height: 100vh;
    opacity: 0.4;
    inset: 0;
    position: absolute;
}

.background_hero__gradient{
    width: 100%;
    height: 100vh;
    inset: 0;
    position: absolute;
    background: radial-gradient(ellipse at top, oklch(62% .22 260 / .25), transparent 60%);
}

.hero__img_wrapper {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    pointer-events: none;
}

.hero__img_background {
    width: 120%;
    height: 110%;

    mix-blend-mode: screen;
    opacity: 0.4;

    object-fit: cover;
    object-position: bottom;

    position: absolute;
    right: 0;
    top: -5%;
    
    z-index: 10;
    display: block;

    mask-image: linear-gradient(to right, transparent 0%, black 35%);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 35%);
}


.hero__grid_bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #00000009;
    background-image:
        linear-gradient(#ffffff06 1px, #0000 1px),
        linear-gradient(90deg, #ffffff06 1px, #0000 1px);
    background-size: 56px 56px;
    transition: 0.3s all ease;

    

}

/*----------------------------------------------------------*/

.hero__content{
    position: relative;
    z-index: 10;
    padding: 0 var(--section-lateral-padding);

}

/*----------------------------------------------------------*/

.hero__title{
    font-size: 5rem;
    font-family: "Space Grotesk";
    line-height: 0.95;
    color: #f0f6fc;
}

.hero__title .name{
    background: linear-gradient(135deg, #e5f0fc, color(xyz 0.544 0.586 1.163) 50%, color(xyz 0.447 0.472 1.211) 75%, color(xyz 0.407 0.421 1.232) 87.5%, color(xyz 0.388 0.396 1.242), color(xyz 0.371 0.373 1.252));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: block;
}

.hero__title .role{
    display: block;
    color: #8b9aab;
}

.hero__subtitle{
    font-size: 1.125rem;
    letter-spacing: 0.25px;
    line-height: 1.5;
    margin-top: 1.5rem;
    color: #b6c2cf;
    font-weight: 300;
}

.hero__buttons_container{
    margin-top: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

/*--------------------------------------*/

.hero__extra_data{
    display: flex;
    align-items: center;
    margin-top: 3rem;
    color: #8b9aab;
    gap: 1.25rem;
}

.hero__extra_data a{
    display: flex;
    align-items: center;
    color: #8b9aab;
    transition: 0.3s ease-in-out;
}

.hero__extra_data a:hover{
    color: #f0f6fc;
}

.hero__location{
    font-family: "JBMono";
    font-size: 0.75rem;
    line-height: 1.625;
}

/*///////////////////////////////////////////////////// RESPONSIVE ////////////////////////////////////////*/

@media (max-width: 768px) {

    
    .background_hero__opacity{
        width: 100%;
        height: 100vh;
        opacity: 0.4;
        inset: 0;
        position: absolute;
    }
        
    .hero__img_wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        overflow: hidden;
        pointer-events: none;
    }
    
    .hero__img_background { 
        width: 150%;
        left: -25%;
        object-position: center;
        top: 0;
    }
    
        
    /*----------------------------------------------------------*/
    
    .hero__title{
        font-size: 3rem;
        line-height: 0.85;
    }
        

}