.writing_tag {
    display: inline-flex;

    color: #8b9aab;

    font-size: 0.75rem;

    padding: 0.325rem 1rem;
    margin-bottom: 2rem;

    border-radius: 9999px;

    align-items: center;
    gap: 0.5rem;
}

.writing_tag p {
    font-family: "JBMono";
    animation: typing 1.5s steps(22),
        blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    border-right: 2px solid;
    overflow: hidden;
}

.writing_tag div {
    width: 8px;
    height: 8px;
    border-radius: 9999px;
    background-color: var(--main-color);
    animation: twinkle 2s ease-in infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes twinkle {
    0% {
        transform: scale(1);
        background-color: var(--main-color);
    }

    50% {
        transform: scale(1.2);
        background-color: #3f79f5;
    }

    100% {
        transform: scale(1);
        background-color: var(--main-color);
    }
}