.feature_card{
    padding: 1.5rem;
    border-radius: 1.25rem;   
    color: #f0f6fc;
}

.feature_card .icon__container{
    width: 48px;
    height: 48px;
    background-color: #277dff26;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.feature_card .icon__container span{
    font-size: 1.25rem;
    color: var(--main-color);
}

.feature_card h3{
    margin-top: 1.25rem;
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 600;
    color: #f0f6fc;
}

.feature_card p{
    margin-top: 0.75rem;
    font-size: 0.75rem;
    text-align: justify;
}

/*///////////////////////////////////////////////////// RESPONSIVE ////////////////////////////////////////*/

@media (max-width: 768px) {
   
    .feature_card h3{
        font-size: 1.125rem;
    }
    
    .feature_card p{
        font-size: 0.875rem;
    }

}