* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img{
  width: 100%;
}

body{
  background-color: var(--color-background);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

.glass{
  background: #ffffff0a;
  border: 1px solid oklch(100% 0 0 / .08);
}

/* ///////////////////////////////// FUENTE //////////////////////*/

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf");
}

@font-face {
  font-family: "JBMono";
  src: url("/fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf");
}

/* ///////////////////////////////// VARIABLES //////////////////////*/

:root{
  --main-color: #277dff;
  --background: oklch(16% .02 260);
  --color-background: var(--background);

  --s-section-lateral-padding: 0.5rem;
  --m-section-lateral-padding: 1.5rem;
  --l-section-lateral-padding: 5rem;

  --section-lateral-padding: var(--l-section-lateral-padding);
}

/* ///////////////////////////////// UTILS //////////////////////*/

.section__subtitle{
  font-family: "JBMono";
  text-transform: uppercase;
  font-size: 0.75rem;
  color: var(--main-color);
  letter-spacing: 0.6px;
}

.section__title{

}

.section__text{

}