* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img{
  width: 100%;
}

html{
    scroll-behavior: smooth;
}

body{
  background-color: var(--color-background);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

/* ///////////////////////////////// FUENTE //////////////////////*/

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf");
}

@font-face {
  font-family: "JBMono";
  src: url("/fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf");
}

/* ///////////////////////////////// VARIABLES //////////////////////*/

:root{
  --main-color: #277dff;
  --background: #080d16;
  --color-background: var(--background);

  --s-section-lateral-padding: 0.5rem;
  --m-section-lateral-padding: 1.5rem;
  --l-section-lateral-padding: 5rem;

  --section-lateral-padding: var(--l-section-lateral-padding);

  font-family: "Inter", system-ui, sans-serif;
}

/* ///////////////////////////////// UTILS //////////////////////*/

.glass {
  background: #ffffff0a;
  border: 1px solid oklch(100% 0 0 / .08);
}

.section__subtitle{
  font-family: "JBMono";
  text-transform: uppercase;
  font-size: 0.75rem;
  color: var(--main-color);
  letter-spacing: 0.6px;
}

.section__title{
  font-family: "Space Grotesk";
  background: linear-gradient(135deg, #e5f0fc, color(xyz 0.544 0.586 1.163) 50%, color(xyz 0.447 0.472 1.211) 75%, color(xyz 0.407 0.421 1.232) 87.5%, color(xyz 0.388 0.396 1.242), color(xyz 0.371 0.373 1.252));
  background-clip: text;
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 700;
  margin-top: 1rem;
  letter-spacing: -1.2px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  max-width: 36rem;
}

.section__text{
  color: #8b9aab;
  line-height: 1.625;
  font-size: 0.875rem;
  margin-top: 1.5rem;
  max-width: 42rem;
}

/*///////////////////////////////////////////////////// RESPONSIVE ////////////////////////////////////////*/

@media (max-width: 768px) {

  :root{
    --section-lateral-padding: var(--m-section-lateral-padding);
  }

  .section__subtitle{
    font-size: 0.875rem;
  }
  
  .section__title{
    font-size: 2.5rem;
  }
  
  .section__text{
    font-size: 1rem;
  }
  

}